﻿@{
    ViewBag.Title = "Home";
    string[] TableHeader1 = new string[]
    { "User id"
      ,"First name"
      ,"Last name"
      ,"Email"
      ,"Phone number"
      ,"User modifier date time"
    };
    string[] TableHeader2 = new string[]
    { "food id"
      ,"Food name"
      ,"Food price"
      ,"Discount"
    };
    string[] TableHeader3 = new string[]
    { "Order number"
      ,"Dtae of purchase"
      ,"User ID"
      ,"Food ID"
    };
}
<div style="margin-bottom: 80px;">
    <h1>Table 1:  Users</h1>
</div>
<div class="table">
    <table class="table table-bordered table-hover" style="width:100%; font-weight:bold;">
        <thead>
            <tr>
                @{
                    foreach (var head in TableHeader1)
                    {
                        <th>
                            @head
                        </th>
                    }
                }

            </tr>
        </thead>
        <tbody>
            @{
                if (Model != null)
                {
                    foreach (var Data in Model.users)
                    {
                        if (Data != null)
                        {
                            <tr>
                                <td>@Data.user_id</td>
                                <td>@Data.first_name</td>
                                <td>@Data.last_name</td>
                                <td>@Data.email</td>
                                <td>@Data.phone_number</td>
                                <td>@Data.user_modifier_date_time</td>
                            </tr>
                        }

                    }
                }
            }
        </tbody>
    </table>
    <div style="margin-bottom: 80px; margin-top: 80px;">
        <h1>Table 2:  Food items</h1>
    </div>
    <table class="table table-bordered table-hover" style="width:100%; font-weight:bold;">
        <thead>
            <tr>
                @{
                    foreach (var head in TableHeader2)
                    {
                        <th>
                            @head
                        </th>
                    }
                }

            </tr>
        </thead>
        <tbody>
            @{
                if (Model != null)
                {
                    foreach (var Data in Model.food_items)
                    {
                        if (Data != null)
                        {
                            <tr>
                                <td>@Data.food_id</td>
                                <td>@Data.food_name</td>
                                <td>@Data.food_price</td>
                                <td>@Data.discount</td>
                            </tr>
                        }

                    }
                }
            }
        </tbody>
    </table>
    <div style="margin-bottom: 80px; margin-top: 80px;">
        <h1>Table 3:  Orders</h1>
    </div>
    <table class="table table-bordered table-hover" style="width:100%; font-weight:bold;">
        <thead>
            <tr>
                @{
                    foreach (var head in TableHeader3)
                    {
                        <th>
                            @head
                        </th>
                    }
                }

            </tr>
        </thead>
        <tbody>
            @{
                if (Model != null)
                {
                    foreach (var Data in Model.orders)
                    {
                        if (Data != null)
                        {
                            <tr>
                                <td>@Data.order_number</td>
                                <td>@Data.date_of_purchase</td>
                                <td>@Data.user_id</td>
                                <td>@Data.food_id</td>
                            </tr>
                        }

                    }
                }
            }
        </tbody>
    </table>


</div>